h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    color:white;
}
button{
    width: 220px;
    height: 220px;
    margin:20px;
    background-color: rgb(0, 0, 0);
    border-style: none;
    transition: transform .4s;
}
.btnhover:hover{
    transform:scale(1.4);
}
button > img {
    width: 200px;
    height: 200px;
}
body{
    background-color: rgb(0, 0, 0);
    text-align: center;
}